<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../imagenes/logo.png">
    <link rel="stylesheet" href="../css/style.css">
    <title>The Flowers - quienes somos</title>
</head>
<body>
    <nav class="nav">
        <div>
            <a href="../index.html">
                <img src="../imagenes/logo.png" alt="Logo de la empresa" id="logo">
            </a>
        </div>
        <ul>
            <li>
                <a href="../index.html">Inicio</a>
            </li>
            <li>
                <a href="nosotros.html">Nosotros</a>
            </li>
            <li>
                <a href="productos.html">Productos</a>
            </li>
            <li>
                <a href="proyecto.html">Proyecto</a>
            </li>
            <li>
                <a href="contacto.html">Contacto!</a>
            </li>
            <li>
                <a href="#redes">Seguinos!</a>
            </li>
        </ul>   
    </nav>
    <!--ends nav-->
    <header>
        <img src="../imagenes/the-flowers.png" alt="texto decorado The Flowers" class="encabezado">
    </header>
        <!--ends header-->
    <main class="anchoNormalizado textCenter">            
        <h1 class="tituloResaltado">Conocé más sobre nosotros</h1>
        <div class="textCenter nosotros1">
            <div>
                <div id="imgPres">
                    <img src="../imagenes/persona-con-plantas.jpg" alt="Persona feliz con plantas" class="imgNos" id="imgPres">
                </div>
                <div  id="contNos">
                    <h3 class="tituloChico">¿Qué es the Flowers?</h3>
                    <p class="textoPresentacion">
                        The Flowers es una compañía local de agricultura profesional líder a nivel municipal, que ofrece una amplia gama de servicios en Seimbra y Consultoría, Ventas y Plantaciones, con capacidades regionales en todos estos servicios. Combinamos una experiencia inigualable y capacidades especializadas en más de 40 especies, impulsadas por la entrega y el arduo trabajo de sus socios y contrinyuentes. Nuestras personas cumplen la promesa de la agricultura y el ingenio humano todos los días, sirviendo a clientes en más de 12 municipios. Abrazamos el poder del cambio para crear valor y éxito compartido para nuestros clientes, personas, accionistas, socios y comunidades.
                    </p>
                </div>
            </div>
        </div>

        <div class="presentacionGrid bgcNos">
            <h3 id="tit" class="tituloChico">Ayudanos a cambiar el planeta!</h3>
            <img src="../imagenes/ecofriendly.jpg" alt="Logo Ecofriendly" class="imgPres imgNos" id="img">
            <div id="txt">
                <p class="textoPresentacion">¿Querés formar parte de la transformación ambiental y ser parte de la mitigación del cambio climatico y las consecuencias de las emisiones de gases? comprá nuestros productos!</p>
            </div>
            <div id="but" >
                <!-- <a href="productos.html" ><button class="button" >COMPRAR</button></a> -->
                <button class="boton cuatro"><span>COMPRAR</span></button>
            </div>
        </div>
        <div class="presentacionGrid2 bgcNos">
            <h3 class="tituloChico" id="tit2">¡Somos el cambio que el mundo necesita!</h3>
            <img src="../imagenes/huellas.jpg" alt="huellas humanas hechas de cesped" class="imgPres imgNos" id="img2">
            <h4 class="tituloChiquitito" id="titc">Nuestra politica ambiental :)</h4>
            <div id="txt2">
                <p class="textoPresentacion">En The Flowers, desarrollamos nuestras actividades en un marco de respeto por el medioambiente, asegurando que los procesos de cultivado, riego, transporte, distribución, recolección, aroquímicos y comercialización en los municipios de Salta Capital y Cerrillos, se realicen:</p>
            </div>
            <div id="lis" class="lista fondoProyecto">
                <ul>
                    <li>Controlando los impactos sobre los aspectos relacionados con la prevención de la contaminación, protección y preservación del medioambiente y los recursos naturales en los que tenemos influencia</li>
                    <li>Mejorando continuamente nuestras prácticas ambientales, dando cumplimiento a los objetivos, metas y programas ambientales</li>
                    <li>Comprometiendo a los colaboradores, proveedores y contratistas a desarrollar una actitud respetuosa hacia el medioambiente, estableciendo y verificando criterios ambientales acordes con los lineamientos de esta Política Ambiental.</li>
                </ul>
            </div>
        </div>
    </main>

    <!--ends main-->

    <footer id="redes" class="pie">
        <h3 class="tituloChico">Seguinos en nuestras redes:</h3>
        <a href="https://www.facebook.com" target="_blank">
            <img src="../imagenes/facebook.png" alt="logo de facebook" width="150px">
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="../imagenes/instagram.png" alt="logo de instagram" height="150px">
        </a>
    </footer>
        <!--ends footer-->
</body>
</html>