<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../imagenes/logo.png">
    <link rel="stylesheet" href="../css/style.css">
    <title>The Flowers cortinas y manteles</title>
</head>
<body>
    <nav class="nav">
        <div>
            <a href="../index.html">
                <img src="../imagenes/logo.png" alt="Logo de la empresa" id="logo">
            </a>
        </div>
        <ul>
            <li>
                <a href="../index.html">Inicio</a>
            </li>
            <li>
                <a href="nosotros.html">Nosotros</a>
            </li>
            <li>
                <a href="productos.html">Productos</a>
            </li>
            <li>
                <a href="proyecto.html">Proyecto</a>
            </li>
            <li>
                <a href="contacto.html">Contacto!</a>
            </li>
            <li>
                <a href="#redes">Seguinos!</a>
            </li>
        </ul>   
    </nav>
    <!--ends nav-->

    <header>
        <img src="../imagenes/the-flowers.png" alt="Header del proyecto" class="encabezado">
    </header>
    <!--ends header-->

    <main class="textCenter anchoNormalizado">
        <div class="centrado"><h1 class="tituloResaltado">Nuestros productos</h1></div>
        <form action="compras.html">
            <div class="formDestacado">
                <fieldset class="producto">
                    <legend class="textoInfo">Palmerita</legend>
                    <img src="../imagenes/produc/planta1.jpg" alt="planta 1" class="imgProducto centrado">
                    
                    <label for="añadir1" class="textoProducto">Planta nro 1, 111$</label>

                    <label for="añadir1" class="textoProducto">Añadir al carro</label>
                    <input type="checkbox" id="añadir1">
                </fieldset>
                <fieldset class="producto">
                    <legend class="textoInfo">Hojitas redondas</legend>
                    <img src="../imagenes/produc/planta2.jpg" alt="planta 2" class="imgProducto centrado">
                    
                    <label for="añadir2" class="textoProducto">Planta nro 2, 222$</label>
                    
                    <label for="añadir2" class="textoProducto">Añadir al carro</label>
                    <input type="checkbox" id="añadir2">
                </fieldset>
                <fieldset class="producto">
                    <legend class="textoInfo">Flor blanca</legend>
                    <img src="../imagenes/produc/planta3.jpg" alt="planta 3" class="imgProducto centrado">
                    
                    <label for="añadir3" class="textoProducto">Planta nro 3, 333$</label>
                    
                    <label for="añadir3" class="textoProducto">Añadir al carro</label>
                    <input type="checkbox" id="añadir3">
                </fieldset>
                <fieldset class="producto">
                    <legend class="textoInfo">Palmerita 2da</legend>
                    <img src="../imagenes/produc/planta4.jpg" alt="planta 4" class="imgProducto centrado">
                    
                    <label for="añadir4" class="textoProducto">Planta nro 4, 444$</label>
                    
                    <label for="añadir4" class="textoProducto">Añadir al carro</label>
                    <input type="checkbox" id="añadir4">
                </fieldset>
                <fieldset class="producto">
                    <legend class="textoInfo">Rojiverde</legend>
                    <img src="../imagenes/produc/planta5.jpg" alt="planta 5" class="imgProducto centrado">
                    
                    <label for="añadir5" class="textoProducto">Planta nro 5, 555$</label>
                    
                    <label for="añadir5" class="textoProducto">Añadir al carro</label>
                    <input type="checkbox" id="añadir5">
                </fieldset>
                <fieldset class="producto">
                    <legend class="textoInfo">Falso bonsai</legend>
                    <img src="../imagenes/produc/planta6.jpg" alt="planta 6" class="imgProducto centrado">
                    
                    <label for="añadir6" class="textoProducto">Planta nro 6, 666$</label>
                    
                    <label for="añadir6" class="textoProducto">Añadir al carro</label>
                    <input type="checkbox" id="añadir6">
                </fieldset>
                <fieldset class="producto">
                    <legend class="textoInfo">Ceboliita verde</legend>
                    <img src="../imagenes/produc/planta7.jpg" alt="planta 7" class="imgProducto centrado">
                    
                    <label for="añadir7" class="textoProducto">Planta nro 7, 777$</label>
                    
                    <label for="añadir7" class="textoProducto">Añadir al carro</label>
                    <input type="checkbox" id="añadir7">
                </fieldset>
                <fieldset class="producto">
                    <legend class="textoInfo">Simil Waiu</legend>
                    <img src="../imagenes/produc/planta8.jpg" alt="planta 8" class="imgProducto centrado">
                    
                    <label for="añadir8" class="textoProducto">Planta nro 8, 888$</label>
                    
                    <label for="añadir8" class="textoProducto">Añadir al carro</label>
                    <input type="checkbox" id="añadir8">
                </fieldset>
                <fieldset class="producto">
                    <legend class="textoInfo">Palmerita 3ra</legend>
                    <img src="../imagenes/produc/planta9.jpg" alt="planta 9" class="imgProducto centrado">
                    
                    <label for="añadir9" class="textoProducto">Planta nro 9, 999$</label>
                    
                    <label for="añadir9" class="textoProducto">Añadir al carro</label>
                    <input type="checkbox" id="añadir9">
                </fieldset>
            </div>
            <button class="button">COMPRAR</button>
        </form>
    </main>
    <!--ends main-->
    <footer id="redes" class="pie">
        <h3 class="tituloChico">seguinos en nuestras redes:</h3>
        <a href="https://www.facebook.com" target="_blank">
            <img src="../imagenes/facebook.png" alt="logo de facebook" width="150px">
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="../imagenes/instagram.png" alt="logo de instagram" height="150px">
        </a>
    </footer>
</body>
</html>